{% extends "::base.html.twig" %}

{% block title %}Task2- Page login{% endblock %}

{% block body %}
    <h1>Login Page</h1>
    {{ form(form) }}

    <h2>Test</h2>
<a href="{{ path('role1') }}">link for role1</a><br>
<a href="{{ path('role2') }}">link for role2</a><br>
<a href="{{ path('role3') }}">link for role3</a><br>
{% endblock %}
